In [ ]:
import math
n=float(input())
num = float(n)
sqr=math.sqrt(num)
print(sqr)

4
2.0

In [ ]:
A=input()
B=input()
temp=A
A=B
B=temp
print(A,B)

2
3
3 2

In [ ]:
a=int(input())
if a==0:
    print("number is Zero")
elif a>0:
    print("Number is positve")
else:
    print("Number is negative")

0
number is Zero

In [17]:
a=int(input())
if a%2==0:
    print("Number is even")
else:
    print("Number is odd")

6
Number is even

In [18]:
import pandas as pd
data={'name':['Alice','bob','charlie'],
      'Age':[25,10,22],
      'city':['New York','San Francisco','Los Angeles']}
df=pd.DataFrame(data)
print(df)

      name  Age           city
0    Alice   25       New York
1      bob   10  San Francisco
2  charlie   22    Los Angeles